<header class="site-header">
    <div class="navbar-fixed">
        <nav class="{{ site.css }} darken-2 waves-effect waves-light">
            <div class="nav-wrapper" style="background:#111;">
               <div class="container">
                <a internal href="{{ site.baseurl }}/" style="display:inline-block;" class="brand-logo"><img style="max-height:100%;" src="{{ site.baseurl }}/img/ajlogosquare.jpg"/> Ashley Jade</a>
                <ul id="nav-mobile" class="right side-nav">
                    <li><a internal href="{{ site.baseurl }}/">Home</a>
                    </li>
                    <li><a internal href="{{ site.baseurl }}/books/">Books</a>
                    </li>
                    <li><a internal href="{{ site.baseurl }}/about/">About</a>
                    </li>      
                </ul>
                <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
            </div>
            </div>
        </nav>
    </div>
</header>
